version: "3.8"

services:
  backend:
    image: onlysarthak/docker-cicd-h:v1
    container_name: frontend-And-Backend
    ports:
      - "3000:3000"
    depends_on:
      - mongodb
    networks:
      - app_network
    restart: on-failure:2

  mongodb:
    image: mongo:6
    container_name: mongodb
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
    networks:
      - app_network
    restart: on-failure:2

volumes:
  mongo_data:

networks:
  app_network:
    driver: bridge